body {
  background-color: #fff;
  color: #666;
}

header {
  background-color: #002171;
  color: #fff;
}

h1 {
  margin-bottom: 0;
}

nav {
  background-color: #bbdefb;
}

h2 {
  color: #1976D2;
}

dt {
  color: #002171;
}

.resort {
  color: #1976D2;
}