body {
  background-color: #fff;
  color: #666;
}

header {
  background-color: #002171;
  color: #fff;
  background-image: url(images/sunset.jpg);
  background-position: right;
  background-repeat: no-repeat;
  line-height: 400%;
  text-indent: 1em;
}

h1 {
  margin-bottom: 0;
  font-family: Georgia, 'Times New Roman', serif;
}

nav {
  background-color: #bbdefb;
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

h2 {
  color: #1976D2;
  font-family: Georgia, 'Times New Roman', serif;
}

h3 {
  color: #000033;
  font-family: Georgia, 'Times New Roman', serif;
}

ul {
  list-style-image: url(images/marker.gif);
}

dt {
  color: #002171;
}

.resort {
  color: #1976D2;
  font-weight: bold;
}

#contact {
  font-size: 90%;
}

footer {
  font-size: 75%;
  font-style: italic;
  text-align: center;
  font-family: Georgia, 'Times New Roman', serif;
}